<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="./public/img/weather.png">
    <link rel="stylesheet" href="./public/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1> {{errorMessage}} </h1>
    </div>
    {{>footer}}
</body>

</html>